{% include 'home_wilogin.html' %} 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        
        .btn-container {
            text-align: center;
          }
          
    </style>
</head>

<body>
    <!--<div class="navbar mb-4">
        <h1><a class="home" href="/">Spencer</a></h1>
        <div>
            <a href="{% url 'list' %}">View all</a>
            <a href="{% url 'home' %}">Home</a>
        </div>
    </div>-->
    <h1 style="text-align: center;">Add Item</h1>
    <form action="{% url 'add' %}" method="POST" style="width: 70%; margin:auto; margin-top:20px">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Item Type</label>
            <input type="text" class="form-control" id="itype" name="itype" aria-describedby="emailHelp" placeholder="Enter Item Type" required>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Vehicle Type</label>
            <input type="text" class="form-control" id="vtype" name="vtype" aria-describedby="emailHelp" placeholder="Enter Vehicle Type">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Manufacturer</label>
            <input type="text" class="form-control" id="manufacturer" name="manufacturer" aria-describedby="emailHelp" placeholder="Enter Manufacturer" required>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Quantity</label>
            <input type="number" class="form-control" id="quantity" name="quantity" aria-describedby="emailHelp" placeholder="Enter Quantity">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Price</label>
            <input type="number" class="form-control" id="price" name="price" aria-describedby="emailHelp" placeholder="Enter Price" required>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Address</label>
            <input type="number" class="form-control" id="address" name="address" aria-describedby="emailHelp" placeholder="address" required>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <div class="btn-container">
        <button type="submit" class="btn btn-primary" style="width: 10%;">Add Item</button>
        <h2 style="color: green ;text-align:center">{{msg}}</h2>
        </div>
        <!-- <button onclick="{% url 'list' %}" class="btn btn-primary">View all</button> -->
    </form>
</body>

</html>